$bg-color-primary: #F3F7FA;
$bg-color-secondary: #2196F3;
$foreground-color-primary: #4A4A4A;
$foreground-color-secondary: #2196F3;
$foreground-color-inverted: #FFFFFF;
$foreground-color-light: #A0B0B9;
$heading-color-primary: #211C1C;