@import "src/common/styles/theme";

.wrapper {
  width: 232px;
  padding: 14px 0;
  box-shadow: 0 2px 8px 0 #0000001A;
  border-radius: 10px;
  background: white;
}

.title {
  color: $heading-color-primary;
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 18px;
  padding: 0 20px;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}